<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Trillo App</title>
  <link rel="stylesheet" href="/src/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/src/css/main.css" type="text/css">

</head>

<body>

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/accounts">Trillo</a>
    <ul class="nav">
      <li class="nav-tem">{{account.name}}</li>
      <li class="nav-item">{{boards.name}}</li>
    </ul>
  </nav>

  {{{body}}}

</body>

</html>