<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Trillo App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4169e6360a.js"></script>
  <link rel="stylesheet" href="/src/css/main.css" type="text/css">
  <script defer src="/src/js/main.js"></script>
</head>

<body>

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/accounts">Trillo</a>
    <ul class="nav">
      <li class="nav-tem">{{account.name}}</li>
      <li class="nav-item">{{boards.name}}</li>
    </ul>
  </nav>

  {{{body}}}

</body>
<var></var>

</html>