<div class="container">
    <div class="accounts jumbotron w-60">
        <form class="row form-1 justify-content-between align-items-center"action="/accounts/new" method="get">
            <h1 class="display-1 rounded-pill col-4">Accounts</h1>
            <button type="submit" class="btn btn-primary btn-lg col-4">Create Account</button>
        </form>
        {{#each accounts}}
        <div class="row mb-2 justify-content-center">
            <div class="col-3 card account-card">
                <img src="..." class="card-img-top" alt="..." width="auto" height="200px">
            </div>
            <div class="col-7 card account-card">
                <h2 class="display-4"> <a href="/accounts/{{_id}}">{{name}}</a> </h2>
                <label for="username">Username</label>
                <h3 id="username"> {{username}}</h3>
                <label for="numberOfBoards">Amount Of Boards</label>
                <h3 id="numberOfBoards"> {{numberOfBoards}}</h3>
            </div>
        </div>
        {{/each}}
    </div>
</div>