<form method="POST" action="/accounts">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <input type="text" placeholder="name" name="name" />
  <input type="text" placeholder="username" name="username" />
  <input type="submit" value="Create Account" />
</form>
